#projets{
    text-align: center;
    position: relative;
    top: 100vh;
    height: 100vh;
    width: 98vw;
    z-index: -1;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: inline-grid;
}

.test{
    padding: 45vh 0 0 0;
    text-align: center;
    height: 100vh;
    width: 98vw;
    z-index: -1;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.car{
    padding: 45vh 0 0 0;
    background-color: cornflowerblue;
    height: 100vh;
    width: 100vw;
}

.carousel-control-prev>span{
    background-image: none;
    position: absolute;
    color: black;
}

.carousel-control-next>span{
    background-image: none;
    position: absolute;
    color: black;
}