#projets{
    text-align: center;
    position: relative;
    top: 100vh;
    height: 100vh;
    width: 98vw;
    z-index: -1;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: inline-grid;
}

.carousel-indicators{
    bottom: 15px;
}

.carousel-inner{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.car{
    padding: 45vh 0 0 0;
    background-color: cornflowerblue;
    height: 100vh;
    width: 100vw;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: none;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: black;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Rubik");
html,
body {
    padding: 2rem;
    margin: 0;
    background: whitesmoke;
    font-family: "Rubik";
    font-size: 15px;
}

#shots {
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: auto;
}
#shots .shot {
    position: relative;
    display: block;
    width: 25%;
    background: #ea4c89;
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 779px) {
    #shots .shot {
        width: 50%;
    }
}
#shots .shot:hover img {
    opacity: 0.1;
}
#shots .shot:hover .title {
    opacity: 1;
}
#shots .shot .title {
    position: absolute;
    width: calc(100% - 2rem);
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}
#shots .shot img {
    display: block;
    max-width: 100%;
    transition: opacity 0.2s ease-in-out;
}