#projets{
    text-align: center;
    position: relative;
    top: 100vh;
    height: 100vh;
    width: 98vw;
    z-index: -1;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: inline-grid;
}

.carousel-indicators{
    bottom: 50px;
}

.carousel-inner{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 35%;
    left: 100px;
    margin: 50px;
    padding: 50px;
}

.car{
    padding: 45vh 0 0 0;
    background-color: cornflowerblue;
    height: 100vh;
    width: 100vw;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: none;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
    
}

.carousel-control-prev{
    left: 50px;
    top: 45%;
}
.carousel-control-next{
    right: 50px;
    top: 45%;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: black;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 0;
  background: red;
  opacity: 0.5;
}

ol.carousel-indicators li.active {
  opacity: 1;
}

.shot{
    text-decoration: none;
    color: black;
    word-wrap: break-word;
}

.shot:hover{
    text-decoration: none;
    color: black;
}
.shot >div{
    position: absolute;   
}

.shot>img{
    height: 400px;
    width: 533px;
}

.shot >p:hover{
    text-decoration: none;
}

